.heading-default {
  font-weight: 500;
  background: linear-gradient(90.58deg, #589cfe 0%, #5967ff 101.49%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 1.875rem;
}
