@import "/src/app/styles/variables.scss";

.container {
  position: fixed;
  top: 7rem;
  width: 5rem;
  height: 80%;
  left: 1.5rem;
  background-color: $color-gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  .item {
    margin: 1rem 0;
  }
}
