@import "/src/app/styles/variables.scss";

.container {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $color-gray;
  backdrop-filter: blur(4px);
  // transform: rotate(90deg);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  .brand {
  }
  .rightCol {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
