@import "/src/app/styles/variables.scss";
.compWrapper {
  .compRow {
    display: flex;
    justify-content: space-between;
  }
  .colLeft {
    flex-basis: 40%;
  }
  .colRight {
    flex-basis: 58%;
  }
}
