@import "/src/app/styles/variables.scss";
.compWrapper {
  .compRow {
    display: flex;
    justify-content: space-between;
  }
  .colLeft {
    flex-basis: 40%;
    background-color: #1a1a1a;
    padding-right: 2rem;
  }
  .colRight {
    flex-basis: 58%;
  }
}
